<label for="locationInput">What place are you looking for?</label>
<div class="custom-input border">
  <img src="../../assets/images/search-solid.svg" alt="search">
  <input id="locationInput" type="text" placeholder="North"
         (keyup)="onKeyEnter($event)">
  <img src="../../assets/images/microphone-solid.svg" alt="microphone">
</div>
<div class="search-results border">
  <div *ngFor="let location of locations;" (click)="selectLocation(location)">
    {{location.name}}, {{location.country}}, {{location.language}}
  </div>
</div>

<button class="border" (click)="searchLocation()" [disabled]="!selectedLocation">Click to search</button>


