.custom-input {

  img {
    width: 1em;
    margin: 0px 0px 4px 4px;
  }

  input {
    width: 96%;
    border: none;
    padding: 2px 0px 0 10px;
    outline: none;

    + img {
      width: 0.5em;
      margin: 0px 0px 4px 0px;
    }
  }
}

.search-results {
  border-top: none !important;
  min-height: 260px;
  font-size: 13px;
  font-weight: bold;

  div {

    &:hover {
      background-color: orange;
      color: whitesmoke;
      cursor: pointer;
    }
  }
}

div {
  padding-left: 5px;

  + button {
    background-color: transparent;
    box-shadow: 2px 2px black;
    cursor: pointer;
    margin-top: 10px;
    outline: none;

    &:hover {
      background-color: orange;
      color: whitesmoke;

      &:disabled {
        background-color: inherit;
        color: graytext;
      }
    }
  }
}

// Laptop Smaller Screen
@media screen and (max-width: 1400px) {
  input {
    width: 90% !important;
  }

  .search-results {
    font-size: 12px;
  }
}

// TABLET
@media screen and (max-width: 768px) {
  input {
    width: 92% !important;
  }

  .search-results {
    font-size: 12px;
  }
}

// MOBILE
@media screen and (max-width: 479px) {
  input {
    width: 90% !important;
  }
}



